@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
header{
    width: min
    -content;
    background-color: black;
    text-align: center;
    padding: 20px;
    z-index: 1000;
}
header nav a {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color:rgb(150, 150, 150);
    padding: 14px 20px;
    text-decoration: none;
}
header nav a:hover{
    color: whitesmoke;  
}
body{
    background-color: #f4f4f4;
}
h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700px;
    font-style: italic;
    margin-top: 20px;
    text-align: center;
  }
  .apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 
 .apresentacao h1{
     padding: 0 20px;
  }
  .apresentacao h1{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-weight: 700px;
  }
  .apresentacao1 p{
    text-indent: 2em;
    align-items: center;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
  .abacate h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-weight: 700px;
  }
  .abacate img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  .abacate img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.abacate1 {
    text-indent: 2em;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
}
.banana h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-weight: 700px;
}
.banana img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.banana img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.banana2 {
    text-indent: 2em;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row-reverse;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.caqui h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-weight: 700px;
}
.caqui img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.caqui img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.caqui1 {
    text-indent: 2em;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
}
.damasco h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-weight: 700px;
}
.damasco img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.damasco img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.damasco2 {
    text-indent: 2em;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row-reverse;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.esfregadinha h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-weight: 700px;
}
.esfregadinha img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.esfregadinha img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.esfregadinha1 {
    text-indent: 2em;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
}
.esfregadinha2 {
    text-indent: 2em;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row-reverse;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.framboesa h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-weight: 700px;
}
.framboesa img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.framboesa img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.framboesa1 {
    text-indent: 2em;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: row-reverse;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}
.kiwi h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    font-weight: 700px;
}
.kiwi p{
    text-indent: 2em;
    align-items: center;
    font-size: 18px;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}