@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #002f4b, rgba(43, 47, 119, 0));
    padding: 15px;
    z-index: 1000;
    text-align: center;
}

header nav a {
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #2e373f;
}

body {
    background-color: #f4f4f4;
    padding-top: 100px;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.questoes {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questoes h2 {
    color: #333;
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.resposta {
    display: none;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.resposta h2 {
    color: #333;
    background-color: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: #002f4b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1a4d6d;
}
